{:paths ["resources" "src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        babashka/fs {:mvn/version "0.1.11"}
        clojure-csv/clojure-csv {:mvn/version "2.0.2"}
        hashp/hashp {:mvn/version "0.2.1"
                     :exclusions [rewrite-cljs/rewrite-cljs]}
        org.clojure/tools.logging {:mvn/version "1.2.4"}}}
